<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta content='Nicholas Fine' name='author' />
    <link href='http://feeds.feedburner.com/ndfine' rel='alternate' title='Nicholas Fine' type='application/atom+xml' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-126126-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
    <title>Nicholas Fine</title>
  </head>
  <body>
    <div class='navbar'>
      <div class='container'>
        <h1><a class='brand' href='/'>Nicholas Fine</a></h1>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-8'>
          
  <article>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            
            <h3>
              <a href='/2011/12/15/life-will-suck-if-they-censor-the-internet.html'>Life will suck if they censor the internet.</a>
            </h3>
            
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <h4>15 Dec 2011</h4>
          </div>
          
        </div>
      </div>
    </div>
    
      <p><a href="http://getyourcensoron.com">Get your censor on</a></p>

    
  </article>

  <article>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            
            <h3>
              <a href='http://www.slate.com/blogs/moneybox/2011/12/13/out_of_the_no_accountability_frying_pan_into_the_no_accountability_fire.html'>Out Of The No-Accountability Frying Pan, Into The No-Accountability Fire</a>
            </h3>
            
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <h4>13 Dec 2011</h4>
          </div>
          
            <div class='col-md-pull-6 col-md-2'>
              <h4>
                <a href='/2011/12/13/www.slate.com-from-pinboard.html' class='btn btn-info btn-xs'>
                  <span class="glyphicon glyphicon-pushpin"></span>
                </a>
              </h4>
            </div>
          
        </div>
      </div>
    </div>
    
      <blockquote>
        <p>Ultimately, though, what matters is not the underlying organizational structure of the service provider but whether or not the system is set up so that resources and students flow toward effective providers and away from ineffective ones. If we end up privatizing K-12 education only in order to replicate (or even intensify in the name of &quot;flexibility&quot;) the same results-don&#39;t-matter attitude that reformers complain about, it&#39;ll be the tragedy of the century.   </p>

        <small><cite><a href='http://www.slate.com/blogs/moneybox/2011/12/13/out_of_the_no_accountability_frying_pan_into_the_no_accountability_fire.html'>Matthew Yglesias</a></cite></small>
      </blockquote>
    
  </article>

  <article>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            
            <h3>
              <a href='http://bamareport.blogspot.com/2011/12/university-of-alabama-football-report.html'>University of Alabama Football Report for 12/09/11</a>
            </h3>
            
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <h4>10 Dec 2011</h4>
          </div>
          
            <div class='col-md-pull-6 col-md-2'>
              <h4>
                <a href='/2011/12/10/bamareport.blogspot.com-from-pinboard.html' class='btn btn-info btn-xs'>
                  <span class="glyphicon glyphicon-pushpin"></span>
                </a>
              </h4>
            </div>
          
        </div>
      </div>
    </div>
    
      <blockquote>
        <p>Too many people compare college football to the NFL, but a more accurate analog can be found in another lucrative cartel: the Mexican drug trade. The SEC, like Juarez, may be the focal point of a lot of the action, but even beyond its dominant rep, the game is on all over.</p>

<p>I heard of a mountaintop village, far from the US border, that one cartel used as a vacation spot. Another town on the Gulf served as a narco retirement village. The point being that weirder normal gets, the more normal weird seems. And that is where we are with college football: we are in deep weird.  </p>

        <small><cite><a href='http://bamareport.blogspot.com/2011/12/university-of-alabama-football-report.html'>J</a></cite></small>
      </blockquote>
    
  </article>

  <article>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            
            <h3>
              <a href='http://www.newyorker.com/online/blogs/comment/2011/12/foreclosed-futures.html'>Foreclosed Futures | The New Yorker</a>
            </h3>
            
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <h4>08 Dec 2011</h4>
          </div>
          
            <div class='col-md-pull-6 col-md-2'>
              <h4>
                <a href='/2011/12/08/www.newyorker.com-from-pinboard.html' class='btn btn-info btn-xs'>
                  <span class="glyphicon glyphicon-pushpin"></span>
                </a>
              </h4>
            </div>
          
        </div>
      </div>
    </div>
    
      <blockquote>
        <p>We should be long past the point of assigning blame, or worrying about creating moral hazard, let alone rewarding “losers.” Foreclosure is a national tragedy and a relentless drag on economic growth. Jobs can’t be created until demand increases, and demand won’t increase until consumers get out of debt, and housing is the biggest obstacle. If we had healthy institutions, the White House, both parties in Congress, the leaders of the biggest banks, and consumer groups would have sat down together and worked out a solution that keeps millions of people in their homes without wiping their debts completely clean. But we don’t, and so the history of the past few years has been written by Rick Santelli and Occupy Wall Street.  </p>

        <small><cite><a href='http://www.newyorker.com/online/blogs/comment/2011/12/foreclosed-futures.html'>George Packer</a></cite></small>
      </blockquote>
    
  </article>

  <article>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='row'>
          <div class='col-md-12'>
            
            <h3>
              <a href='/2011/11/27/one-line-of-sed-for-rails-asset-path-helpers.html'>One line of sed for Rails 3.1 asset path helpers</a>
            </h3>
            
          </div>
        </div>
        <div class='row'>
          <div class='col-md-8'>
            <h4>27 Nov 2011</h4>
          </div>
          
        </div>
      </div>
    </div>
    
      <p>With the advent of the new asset pipeline in Rails 3.1.x, I have had to 
convert many stylesheets into erb templates to make use of the asset_path(&#39;/path/to/img&#39;)
helpers.  This seemed like an obvious job for a little <a href="http://www.gnu.org/software/sed/manual/sed.html">sed</a>, 
so I pulled this together.</p>

<p>Say you have a stylesheet from the <a href="http://jqueryui.com">jQuery UI</a> project that looks like
<a href="/stylesheets/jquery-ui-1.8.14.custom.css">this</a>.  Type the following on a command line on
a system with sed installed:</p>
<div class="highlight"><pre><code class="text language-text" data-lang="text">sed &#39;s/url(\([^(]*\))/url(&lt;%= asset_path(&quot;\1&quot;) %&gt;)/g&#39; jquery-ui-1.8.14.custom.css &gt; jquery-ui-1.8.14.custom.css.erb
</code></pre></div>
<p>You should get results like this partial diff of the two files:</p>

<pre class='prettyprint'>    
  62c62
  < .ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
  ---
  > .ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(<%= asset_path("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") %>) 50% top repeat-x; color: #333333; }
  64c64
  < .ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
  ---
  > .ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(<%= asset_path("images/ui-bg_gloss-wave_35_f6a828_500x100.png") %>) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
  69c69
  < .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
  ---
  > .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(<%= asset_path("images/ui-bg_glass_100_f6f6f6_1x400.png") %>) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
  71c71
  < .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
  ---
  > .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(<%= asset_path("images/ui-bg_glass_100_fdf5ce_1x400.png") %>) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
</pre>

    
  </article>


<ul class='pager'>
  
    <li>
      
        <a href='/page8'>Previous</a>
      
    </li>
  
  
    <li>
      <a href='/page10'>Next</a>
    </li>
  
</ul>


        </div>
        <div class='col-md-4'>
          <div class='list-group'>
            <a class='list-group-item' href='https://github.com/yrgoldteeth'>
              GitHub
            </a>
            <a class='list-group-item' href='https://pinboard.in/u:ndfine'>
              Pinboard
            </a>
            <a class='list-group-item' href='https://twitter.com/yrgoldteeth'>
              Twitter
            </a>
            <a class='list-group-item' href='http://instagram.com/yrgoldteeth'>
              Instagram
            </a>
            <a class='list-group-item' href='http://www.goodreads.com/user/show/15896929-nicholas-fine'>
              Goodreads
            </a>
            <a class='list-group-item' href='mailto:nick@ndfine.com'>
              Email
            </a>
            <a class='list-group-item' href='http://pgp.mit.edu/pks/lookup?op=get&search=0x6163C04BCF1FD36F'>
              Public Key
            </a>
            <a class='list-group-item' href='http://feeds.feedburner.com/ndfine'>
              Feed
            </a>
          </div>
          <div class='list-group'>
            <h4 class="list-group-item-heading">Projects / Software</h4>
            <a class='list-group-item' href='https://github.com/yrgoldteeth/crisco'>
              Crisco URL Shortener
            </a>
            <a class='list-group-item' href='http://wsc.ndf.es'>
              Wild Swans @coolebooks
            </a>
            <a class='list-group-item' href='https://github.com/yrgoldteeth/collected_yeats'>
              Collected Yeats in Plaintext
            </a>
            <a class='list-group-item' href='http://annotatethebastards.org'>
              Annotate the Bastards!
            </a>
            <a class='list-group-item' href='http://yrgoldteeth.github.com/whereabouts'>
              Whereabouts Rails Plugin
            </a>
            <a class='list-group-item' href='https://github.com/yrgoldteeth/teleportd'>
              Teleportd Gem
            </a>
            <a class='list-group-item' href='https://github.com/yrgoldteeth/city_grid'>
              City Grid Gem
            </a>
            <a class='list-group-item' href='https://github.com/yrgoldteeth/hungrytable'>
              Hungrytable Gem
            </a>
            <a class='list-group-item' href='https://rubygems.org/gems/bootstrap-will_paginate/'>
              Bootstrap-will_paginate Gem
            </a>
            <a class='list-group-item' href='https://rubygems.org/gems/css3-progress-bar-rails/'>
              CSS3-progress-bar-rails Gem
            </a>
          </div>
          <div class='list-group'>
            <h4 class="list-group-item-heading">Colophon</h4>
            <a class='list-group-item' href='http://jekyllrb.com/'>Jekyll
            </a>
            <a class='list-group-item' href='http://getbootstrap.com/'>Twitter Bootstrap
            </a>
            <a class='list-group-item' href='http://bootswatch.com/'>Bootswatch
            </a>
          </div>
        </div>
      </div>
    </div>
    </body>
    </html>
