$page-background: #4A6B6E;
$grey: #363E33;
$brown: #B78D39;
$tan: #D1B35B;
$blue: #0B2934;
$green: #2E4334;
$blueprint-font-family: 'Lekton', serif;

body {
  @include blueprint-typography;
  @include blueprint-utilities;
  color: $grey;
  background-color: $page-background;
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 4);
    @include column($sidebar-columns); }
  #content {
    background-color: $tan;
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } 
  a {
    color: #cf660f;
    text-decoration: none; }

  a:visited {
    color: #cf660f; }

  a:hover, a:active {
    color: #cf660f; }

  ul {
    li {
    text-decoration: none; }
  }


}
