<!DOCTYPE html>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  <meta name='author' content='Nicholas Fine' />
  <link href='http://feeds.feedburner.com/ndfine' rel='alternate' title='Nicholas Fine' type='application/atom+xml' />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
  <link href='/stylesheets/print.css' media='print' rel='stylesheet' type='text/css' />
  <!--[if lt IE 8]>
  <link href='/stylesheets/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
  <![endif]-->
  <title>{{ page.title }}</title>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-126126-3']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
   </script>
</head>
<body>
  <div id='container'>
    <div id='header'>
      <h1><a href='/'>Nicholas Fine</a></h1>
      <ul class='nav'>
        <li><a href='/about.html'>About</a></li>
        <li><a href='/posts.html'>Archives</a></li>
        <li><a href='http://github.com/yrgoldteeth'>Code</a></li>
        <li><a href='http://pinboard.in/u:ndfine'>Pinboard</a></li>
        <li><a href='http://feeds.feedburner.com/ndfine'>Feed</a></li>
      </ul>
    </div>
    <div id='content'>
      {{ content }}
    </div>
  </div>
</body>

