<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />
    <meta name='author' content='Nicholas Fine' />
    <link href='http://feeds.feedburner.com/ndfine' rel='alternate' title='Nicholas Fine' type='application/atom+xml' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link href='/stylesheets/ndfine-bootstrap.min.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <link href='/stylesheets/prettify.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript"></script>
    <script src="/scripts/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="/scripts/prettify.js" type="text/javascript"></script>
    <script src="/scripts/application.js" type="text/javascript"></script>
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-126126-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body onload="prettyPrint()" bgcolor="black">
    <div class='topbar'>
      <div class='fill'>
        <div class='container'>
          <a class='brand' href='/'>Nicholas Fine</a>
          <ul class='nav'>
            <li><a href='http://americancensorship.org'>STOP CENSORSHIP</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/posts'>Archives</a></li>
            <li><a href='http://github.com/yrgoldteeth'>Code</a></li>
            <li><a href='http://pinboard.in/u:ndfine'>Pinboard</a></li>
            <li><a href='http://feeds.feedburner.com/ndfine'>Feed</a></li>
            <li class='dropdown' data-dropdown='dropdown'>
            <a class='dropdown-toggle' href='#'>Projects</a>
            <ul class='dropdown-menu'>
              <li><a href='http://annotatethebastards.org'>Annotate the Bastards!</a></li>
              <li><a href='/darkdowncss'>Darkdown.css</a></li>
              <li><a href='/whereabouts'>Whereabouts</a></li>
            </ul>
            </li>
            <li class='dropdown' data-dropdown='dropdown'>
            <a class='dropdown-toggle' href='#'>Contact</a>
            <ul class='dropdown-menu'>
              <li><a href='mailto:nick@ndfine.com'>Email</a></li>
              <li><a href='http://github.com/yrgoldteeth'>Github</a></li>
              <li><a href='http://twitter.com/yrgoldteeth'>Twitter</a></li>
            </ul>
            </li>
            <li class='dropdown' data-dropdown='dropdown'>
            <a class='dropdown-toggle' href='#'>Colophon</a>
            <ul class='dropdown-menu'>
              <li><a href='http://github.com/mojombo/jekyll'>Jekyll</a></li>
              <li><a href='http://pages.github.com'>Github Pages</a></li>
              <li><a href='http://github.com/yrgoldteeth/yrgoldteeth.github.com'>Source</a></li>
              <li><a href='http://twitter.github.com/bootstrap/'>Twitter Bootstrap</a></li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='content'>
        <div class='row'>
          <div class='span10'>
            <h2>Recent Posts</h2>
            {{ content }}
          </div>
          <div class='span5 offset1'>
<h3 class='sidebar'><a href=
<ul class='unstyled'>
    <li class='sidebar'><span class='label'>Dec 19 2011</span><br /><a href='http://kingcockfight.wordpress.com/2011/12/19/the-alabama-coloring-book-democratic-peoples-republic-of-clayton-dance-party/'>THE ALABAMA COLORING BOOK: Democratic People’s Republic of Clayton dance party!</a></li>
    <li class='sidebar'><span class='label'>Dec 19 2011</span><br /><a href='http://budiansky.blogspot.com/2011/12/you-can-be-historian-too.html'>You can be a historian, too</a></li>
    <li class='sidebar'><span class='label'>Dec 18 2011</span><br /><a href='http://www.bu.edu/agni/interviews/online/2011/gresko.html'>AGNI Online: Open to Influence: Jonathan Lethem on Reading, Writing and Concepts of Originality by Brian Gresko</a></li>
    <li class='sidebar'><span class='label'>Dec 13 2011</span><br /><a href='http://m.motherjones.com/politics/2011/12/tim-cole-rick-perry'>No Country for Innocent Men | Mother Jones</a></li>
</ul>
<h3 class='sidebar'><a href=
<ul class='unstyled'>
    <li class='sidebar'><span class='label'>Dec 15 2011</span><br /><a href='http://www.metafilter.com/110552/Life-will-suck-if-they-censor-the-internet'>MeFi: Life will suck if they censor the internet</a></li>
    <li class='sidebar'><span class='label'>Dec 14 2011</span><br /><a href='http://www.metafilter.com/110512/Hang-in-there-till-at-least-0048'>MeFi: Hang in there till at least 00:48</a></li>
    <li class='sidebar'><span class='label'>Dec 14 2011</span><br /><a href='http://www.metafilter.com/110504/Felis-catus'>MeFi: Felis catus</a></li>
    <li class='sidebar'><span class='label'>Nov 28 2011</span><br /><a href='http://ask.metafilter.com/202048/Centrally-manage-FreeNAS-permissions'>Ask MeFi: Centrally manage FreeNAS permissions?</a></li>
    <li class='sidebar'><span class='label'>Nov 27 2011</span><br /><a href='http://www.metafilter.com/109825/10-Myths-About-Introverts'>MeFi: 10 Myths About Introverts.</a></li>
</ul>
</div>
</div>
</div>
</div>
</body>
</html>
